<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sw.acs.mapper.ClassesMapper">
    <select id="selectClassesList" resultType="com.sw.acs.domain.Classes">
        select c.classes_id, c.classes_name, c.creator_id, c.introduction, c.people_num, u.nick_name as creator_name
        from t_classes c
        left join t_user u on u.user_id = c.creator_id
        where u.user_id = #{userId}
        <if test="classes.classesName != null and classes.classesName != ''">
            AND c.classes_name like concat('%', #{classes.classesName}, '%')
        </if>
        <if test="classes.creatorName != null and classes.creatorName != ''">
            AND u.user_name like concat('%', #{classes.creatorName}, '%')
        </if>
    </select>

    <select id="selectClassesById" resultType="com.sw.acs.domain.Classes">
        select c.classes_id, c.classes_name, c.creator_id, c.introduction, c.people_num, u.nick_name as creator_name
        from t_classes c
        left join t_user u on u.user_id = c.creator_id
    </select>

    <insert id="insertClasses" parameterType="com.sw.acs.domain.Classes">
        insert into t_classes(classes_name, creator_id, introduction, people_num)
        values(#{classes.classesName},#{classes.creatorId},#{classes.introduction},#{classes.peeopleNum})
    </insert>

    <update id="updateClasses" parameterType="com.sw.acs.domain.Classes">
        update t_classes
        <set>
            <if test="classesName != null and classesName != ''">
                classes_name = #{classesName},
            </if>
            <if test="introduction != null and introduction != ''">
                introduction = #{introduction},
            </if>
        </set>
        where classes_id = #{classesId}
    </update>

    <delete id="deleteClasses">
        delete from t_classes where classes_id = #{classesId}
    </delete>
</mapper>