<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sw.acs.mapper.ExamTopicMapper">

    <insert id="insert" parameterType="com.sw.acs.domain.ExamTopic">
        insert into exam_topic(exam_id, topic_id) values(#{examId}, #{topicId})
    </insert>

    <delete id="delete">
        delete from exam_topic where exam_id = #{examId} and topic_id = #{topicId}
    </delete>

    <delete id="deleteByExam">
        delete from exam_topic where exam_id = #{examId}
    </delete>

    <select id="selectByExamId" resultType="com.sw.acs.domain.ExamTopic">
        select exam_id,topic_id
        from exam_topic
        where exam_id = #{examId}
    </select>
</mapper>