# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\代码\software_engineer_server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
